{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "{% static 'css/login.css'%}"/>
    <link rel="shortcut icon"  href="{% static 'images/logo-box.png' %}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title></title>
</head>


<body>
    <div class = "login-box-container">
        <div class = "login-box"> 
            <div class = "exit-container">  <a href = "#"> <img src="{%static 'images/Arrow 1.png'%}"> </a> </div>
            <div class = "logo-container "> 
                <div class = "logo"> 
                    <img src="{% static 'images/box.png' %}">
                    <h2> МОЙ.ИНВЕНТАРЬ </h2>
                 </div>
            </div>
            <div class = "form-container">
                
                <form method="post">
                        {%csrf_token%}
                        <input type="email"  name="email"  placeholder="example@mail.ru" required>
                        <br><br>
                        
                        <input type="password" name="password"  placeholder="Password" required>
                        <br><br>
                        
                        <div> <button class = "button-submit" type="submit" href = "#">Войти</button> </div>
                </form>

            </div>
            <div class = "register"> <a href = "{% url 'register' %}"> Перейти к регистрации. </a> </div>



        </div>
    </div>
</body>




</html>