{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "{% static 'css/register.css'%}"/>
    <link rel="shortcut icon"  href="{% static 'images/logo-box.png' %}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title></title>
</head>


<body>
    <div class = "register-box-container">
        <div class = "register-box">
            <div class = "exit-container">  <a href = "#"> <img src="{%static 'images/Arrow 1.png'%}"> </a> </div>
            <div class = "logo-container ">
                <div class = "logo">
                    <img src="{% static 'images/box.png' %}">
                    <h2> МОЙ.ИНВЕНТАРЬ </h2>
                 </div>
            </div>
            <div class = "form-container">

                <form method="post">
                        {%csrf_token%}
                        <input type="email"  name="email"  placeholder="Почта" required>
                        <br><br>

                        <input type="text" name="fullname"  placeholder="ФИО" required>
                        <br><br>


                        <input type="number" name="number"  placeholder="Номер телефона" required>
                        <br><br>

                        <input type="password" name="password"  placeholder="Пароль" required>
                        <br><br>

                        <div> <button class = "button-submit" type="submit" href = "#">Войти</button> </div>
                </form>

            </div>
            <div class = "login"> <a href = ""> Перейти к авторизации. </a> </div>



        </div>
    </div>
</body>




</html>