* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-color: #282923;
    font-weight: bold;
    font-family: Roboto Mono;letter-spacing: 1.5px;
    }
     
nav {
    /*background-color: #EEEEED;*/
    color: black ;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: solid;
    border-color:#CACACA;
}

.logo-text{
    color:#525354;
    margin-left:15px;
}


.nav-container {
    display: flex;
    margin-left:100px;
    margin-right:100px;
    justify-content: space-between;
    align-items: center;

}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-center {

    display: flex;
    gap: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}


.nav-a {
    text-decoration:None;
    color:#000000;
    border-bottom: 2px solid transparent; /* невидимая граница всегда есть */
    padding-bottom: 3px;
    transition: border-color 0.3s;
}


.nav-a:hover { 

    border-bottom: 2px solid #B3B3B3;
    display: inline-block; 
    padding-bottom: 3px; 

 }

.nav-selected{
    text-decoration:None;
    color:#000000;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 3px;
}

.nav-right {
    align-items: center;
    display: flex;
    gap: 20px;
}

.nav-right > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bell-div{
    width: 25px;
    height: 25px;
    border-radius: 100%;

    background-size: cover;
    background-position: center;

    background-image: url('/static/images/bell.png');
}

.bell-div:hover{
    background-image: url('/static/images/bell-hover.png');
}

.logout-div{
    width: 25px;
    height: 25px;


    background-size: cover;
    background-position: center;

    background-image: url('/static/images/log-out.png');
}

.profile-role{
    font-size: 15px;
}


.stats{
    display: flex;
    margin-top:50px;
    justify-content: center; 
}

.stats-block{
    background-color:#D9D9D9;
    margin: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    border-radius:5px;
    height: 250px;
    width: 250px ;
}

.abc{
    height:250px; 
    width: 1060px;
    margin-top:30px; 
    background-color:#D9D9D9;
    border-radius: 10px;
    
}

.tmc{
    /*height:400px; */
    width: 1060px;
    margin-top:30px; 
    /*border-color:;*/
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding: 30px;

}

.tmc > a{
    text-decoration: none;
}

.tmc-item {
    display: flex;
    background: #E3E3E3;
    margin: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    height: 150px;
    text-decoration: none;
    color: #333;
    transition: all 0.2s;

}

.tmc-item:hover {
    background: #d4d4d4;
    transform: scale(1.01);
}

.tmc-item img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

/* Контентная часть */
.card-content {
    flex: 1;
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.card-status {
    display: inline-block;

    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}


.card-status-active{
    color:green;
}

.card-status-noactive{
    color:red;
}

.card-status-expectation{
    color:orange;
}



.card-date {
    
    font-size: 11px;
    color: #666;
    margin-top: auto;
}