{%load static%}

<nav>
    <div class="nav-container">

        <div class="nav-left">
            <img src="{% static 'images/logo-box.png' %}">
            <div class = "logo-text"> МОЙ.ИНВЕНТАРЬ </div>
        </div>

        <div class="nav-center">
            <a class="nav-a {% if request.path == '/home/' %}nav-selected{% endif %}"
                href="{% url 'home' %}">Доска(Общее)</a>

            <a class="nav-a {% if request.path == '/mytmc/' %}nav-selected{% endif %}"
                href="{% url 'mytmc' %}">Мои ТМЦ</a>

            <a class="nav-a {% if request.path == '/history/' %}nav-selected{% endif %}"
                href="{% url 'history' %}">История</a>

            <a class="nav-a {% if request.path == '/exchange/' %}nav-selected{% endif %}"
                href="{% url 'exchange' %}">Обмены</a>

        </div>

        <div class = "nav-right">

            <!-- <img style = "width:25px; height:25px;"src="bell.png"> -->
            <a href="#"><div class="bell-div"></div></a>

            <img style = "width:55px; height:55px; border-radius:100%;" src="{% static 'images/man-profile.png' %} ">
            <div>

                <a  class = "" href="{% url 'profile'%}">{{user_data.first_name}} {{user_data.last_name|first}}.</a>
                <b class = "profile-role"> Роль:{{user_data.role}}</b>
            </div>
            <a href="{% url 'logout' %}"><div class="logout-div"></div></a>
        </div>

    </div>
</nav>