{%load static%}

<nav>
    <div class="nav-container">

        <div class="nav-left">
            <img src="{% static 'images/logo-box.png' %}">
            <div class = "logo-text"> МОЙ.ИНВЕНТАРЬ </div>
        </div>

        <div class="nav-center">
            <a  class = "nav-selected" href="#">Доска(Общее)</a>
            <a  class = "nav-a" href="#">Мой ТМЦ</a>
            <a  class = "nav-a" href="#">История</a>
            <a  class = "nav-a" href="#">Обмены</a>
        </div>

        <div class = "nav-right">

            <!-- <img style = "width:25px; height:25px;"src="bell.png"> -->
            <a href="#"><div class="img-div"></div></a>
            <img style = "width:55px; height:55px; border-radius:100%;" src="{% static 'images/man-profile.png' %} ">
            <div>

                <a  class = "" href="#">Иванов И.</a>
                <b class = "profile-role"> Роль:Сотрудник</b>
            </div>
        </div>

    </div>
</nav>